<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Color Sorter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>{{ user_name }}'s Playlists</h1>
    <div class="playlists grid-container">
        {% for playlist_name, playlist_details in playlists.items() %}
            <div class="grid-item">
                <img src="{{ playlist_details.url }}" alt="{{ playlist_name }}">
                <h3>{{ playlist_name }}</h3>
                <p style="color: #A7A7A7">{{ playlist_details.num_tracks }} Tracks</p>
                <div class="grid-btn">
                    <button class="sort-btn" data-playlist-id="{{ playlist_details.id }}">SORT</button>
                </div>
            </div>
        {% endfor %}
    </div>  
    <link rel="stylesheet" href="{{ url_for('static', filename='js/script.js') }}">  
</body>
</html>
